__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# vscode
.vscode

# Mac
.DS_Store

# xxx
LongBench_1744473763/
FlashRAG_datasets_1744472312/
e5-base-v2_1744472152/
output/
data/longbench/
modle_r1r
model_research